<div class="frame">
    <div class="container">
        <div class="background"></div>
        <div class="topic">Games, Community and More ...</div>
    </div>
    <p>We have some game servers like an ARK and Minecraft server. But we also play other games like League of Legends and Apex Legends.</p>
    <p>If you're interested, please check out our Discord server.</p>
    <div class="main">
        <div class="col">
            <a class="link" href="https://discord.gg/7yK3czXSEY" target="_blank">
                <img src="../../assets/svg/discord-logo.svg">
                <div>Join our Discord Server</div>
            </a>
        </div>
        <div class="col">
            <a class="link" href="https://www.onlyfriends.be/worlds.zip">
                <img src="../../assets/svg/minecraft-logo.svg">
                <div>Download previous world (5,8 GB)</div>
            </a>
        </div>
    </div>
</div>